[Desktop Entry]
Version=1.0
Name=Groestlcoin Core
Comment=Connect to the Groestkcoin P2P Network
Comment[de]=Verbinde mit dem Groestlcoin peer-to-peer Netzwerk
Comment[fr]=Groestlcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Groestlcoin, eşten eşe kriptografik sanal para birimi
Exec=groestlcoin-qt %u
Terminal=false
Type=Application
Icon=groestlcoin128
MimeType=x-scheme-handler/groestlcoin;
Categories=Office;Finance;
StartupWMClass=Groestlcoin-qt
