# groestlcoind RPC settings (linearize-hashes)
rpcuser=yourusernamehere
rpcpassword=yourpasswordhere
#datadir=/root/.groestlcoin
host=127.0.0.1

#mainnet default
port=1441

#testnet default
#port=17766

#regtest default
#port=18443

#signet default
#port=31441

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=3054830

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f9beb4d4
genesis=00000ac5927c594d49cc0bdb81759d0da8297eb614683d3acb62f0703b639023
input=/home/jackie/.groestlcoin/blocks
#input=/root/.groestlcoin/blocks

# testnet
#netmagic=0b110907
#genesis=000000ffbb50fc9898cdd36ec163e6ba23230164c0052a28876255b7dcf2cd36
#input=/home/jackie/.groestlcoin/testnet3/blocks
#input=/root/.groestlcoin/testnet3/blocks

# regtest
#netmagic=fabfb5da
#genesis=000000ffbb50fc9898cdd36ec163e6ba23230164c0052a28876255b7dcf2cd36
#input=/home/jackie/.groestlcoin/regtest/blocks
#input=/root/.groestlcoin/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=00000008819873e925422c1ff0f99f7cc9bbb232af63a077a480a3633bee1ef6
#input=/home/.groestlcoin/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/jackie/.groestlcoin/bootstrap.dat
#output_file=/root/.groestlcoin/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
