            VALUE "CompanyName",        "Bitcoin"
            VALUE "FileDescription",    "bitcoin-util (CLI Bitcoin utility)"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "bitcoin-util"
            VALUE "LegalCopyright",     COPYRIGHT_STR
            VALUE "LegalTrademarks1",   "Distributed under the MIT software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php."
            VALUE "OriginalFilename",   "bitcoin-util.exe"
            VALUE "ProductName",        "bitcoin-util"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
